@{
    ViewData["Title"] = "Home Page";
}



    <div class="row h-100">
        <div class="col-sm-12" style="margin-top: auto; margin-bottom: auto;">
            <div class="card card-block w-100 h-50">
                <h1 style="text-align:center">NEW REALITY GAMING</h1>
            </div>
        </div>
    </div>

